<ul class="nav nav-pills">
                    <li><a href="/" class="nav-link px-2">Inicio</a></li>
                    <li><a href="/recipe" class="nav-link px-2">Explorar recetas</a></li>
                    <li><a href="/user_profile" class="nav-link px-2">Perfil</a></li>
                </ul>
        
                <div class="">
                    <a href="register" type="button" class="btn btn-outline-primary me-2 ms-2">Registrarse</a>
                    <a href="login" class="btn btn-primary">Iniciar Sesión</a>
                </div>